<nav id="navbar-main"
     class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div class="container">
        <a class="navbar-brand mr-lg-5" [routerLink]="href">
            <img src="{{imageUrl}}">
        </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a [routerLink]="['/home']">
                            <img src="./assets/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                                [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <div *ngFor="let content of contents" class="navbar-nav navbar-nav-hover">
                <ul class="navbar-nav navbar-nav-hover">

                    <li class="nav-item dropdown" *ngIf="content.routerLink === null">
                        <a class="nav-link no-caret" data-toggle="dropdown" role="button">
                            <i class="ni ni-collection d-lg-none"></i>
                            <span class="nav-link-inner--text">Visual Ai</span>
                        </a>

                        <div class="dropdown-menu-xl dropdown-menu">
                            <div class="dropdown-menu-inner">
                                <a routerLinkActive="active" [routerLink]="['documentation/tutorial']"
                                   class="media d-flex align-items-center"
                                   *ngFor="let item of content.contents; index as i">
                                    <div>
                                        <div class="icon icon-shape bg-gradient-primary rounded-circle text-white"
                                             *ngIf="i===0">
                                            <i class="ni ni-spaceship"></i>
                                        </div>
                                        <div class="icon icon-shape bg-gradient-success rounded-circle text-white"
                                             *ngIf="i===1">
                                            <i class="ni ni-palette"></i>
                                        </div>
                                        <div class="icon icon-shape bg-gradient-warning rounded-circle text-white"
                                             *ngIf="i===2">
                                            <i class="ni ni-ui-04"></i>
                                        </div>
                                    </div>
                                    <div class="media-body ml-3">
                                        <h6 class="heading text-primary mb-md-1">{{item.title}}</h6>
                                        <p class="description d-none d-md-inline-block mb-0">{{item.subTitle}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div *ngFor="let content of contents" class="navbar-nav ml-lg-auto">
                <ul class="navbar-nav ml-lg-auto" *ngIf="content.routerLink !== null">

                    <li class="nav-item" *ngFor="let item of content.contents">
                        <a class="nav-link nav-link-icon my-2 my-sm-0" href="{{item.href}}" target="_blank"
                           data-toggle="tooltip" title="Like us on Facebook">
                            <i class="fa fa-facebook-square" *ngIf="item.title === 'Facebook'"></i>
                            <i class="fa fa-instagram" *ngIf="item.title === 'Instagram'"></i>
                            <i class="fa fa-twitter-square" *ngIf="item.title === 'Twitter'"></i>
                            <i class="fa fa-github" *ngIf="item.title === 'Github'"></i>
                            <span class="nav-link-inner--text d-lg-none">{{item.title}}</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>
